# Data Structure

In [ ]:
# What is Data Structure ?
# => A data structure is a way of organizing and storing data in a computer so that it can be accessed
#    and used efficiently. It defines the relationship between the data and the operations that can be
#    performed on the data
# what are the types of data Structure?
# =>Data structures can be classified into two main categories:

#Linear Data Structures: These structures store data in a sequential order this allowing for easy
#                insertion and deletion operations. Examples include arrays, linked lists, and queues.
#Non-Linear Data Structures: These structures store data in a hierarchical or interconnected manner
#                          this allowing for more complex relationships between data elements.
#Examples include trees, graphs, and hash tables.

#Types of Data Structures

#=>Basically, data structures are divided into two categories:

# Linear Data Structures:
# .> Array: A collection of elements of the same type stored in contiguous memory locations.
# .>Linked List: A collection of elements linked together by pointers, allowing for dynamic insertion
#                and deletion.
# .>Queue: A First-In-First-Out (FIFO) structure where elements are added at the end and removed from 
#          the beginning.
# .>Stack: A Last-In-First-Out (LIFO) structure where elements are added and removed from the top.
# Non-Linear Data Structures:
# .>Tree: A hierarchical structure where each node can have multiple child nodes.
# .>Graph: A collection of nodes connected by edges, representing relationships between data elements.
# .>Hash Table: A data structure that uses a hash function to map keys to values, allowing for fast 
#               lookup and insertion.


# types of Data Structure:=>
# 1) Homogenous Datatype:= Homogenous data structures consist of the same data element type, like 
#                         element collections found in an array. In non-homogenous structures, the 
#                         data don't have to be the same type, such as structures
# 2) Heterogenous Datatype:= Heterogeneous data refers to a dataset composed of different data types,
#                            structures, formats or sources. The evolution of digitization has led to 
#                            an explosion in data generation, resulting in increasing varieties of 
#                            data, such as structured, semi-structured, and unstructured data.

# LIST

In [1]:
# What is list?
# => A list is a data structure in Python that is a mutable. 
# => changeble
# => ordered dequence of elements.
# => Each element or value that is inside of a list is called an item.
# => Just as strings are defined as characters between quotes, lists are defined by having values  
# =>between square brackets[]
# creating a hetrogenous list.
# print the reult with the datatype.

l = [45,55,"Sam","Parul",23.5,67.5]
print(l,type(l))

[45, 55, 'Sam', 'Parul', 23.5, 67.5] <class 'list'>

In [3]:
# Checking list is mutable or immutable:-
# findimg id of list:-
id(l)

2794785302400

In [4]:
# Now, changing values in in list to check list mutable or immutable.
# changing l(2)=55 to 97 and l(3) "Sam" to 'Amisha'

l[2]

'Sam'

In [5]:
# Now, changing values in in list to check list mutable or immutable.
# changing l(2)=55 to 97 and l(3) "Sam" to 'Amisha'

l[2]= 97
l[3]= "Amisha"

In [8]:
# checking the changes at l[2]

l[2]

97

In [9]:
# Checking the changes at l[3]

l[3]

'Amisha'

In [10]:
# Now checking the change in the original list:-

l

[45, 55, 97, 'Amisha', 23.5, 67.5]

In [11]:
# Know checking the id is changed or not:-

id(l)

# here the id is same it procies that the list is mutable.

2794785302400

In [12]:
# know we are making an another new list and call it as list1 
# insert some values into it .
# We are working on indexing :-
#    1) Forward indexing :- It always start from 0
#    2) Backward indexing :- It always start from -1

list1 = [23,34,97, 'Amisha', 23.5, 67.5]
list1

[23, 34, 97, 'Amisha', 23.5, 67.5]

In [13]:
# Forward indexing :-

list1[3]

'Amisha'

In [15]:
# Backward indexing:-

list1[-3]

'Amisha'

In [17]:
# some more example of Forward indexing

print(list1[2])
print(list1[4])
print(list1[1])
print(list1[5])

97
23.5
34
67.5

In [18]:
# some more example of Backward indexing

print(list1[-2])
print(list1[-4])
print(list1[-1])
print(list1[-5])

23.5
97
67.5
34

In [20]:
# Creating a new list list_ with hetergenous datatypes:-
# print the statement with length.

list_ = [43,68,"Puja",11.3,564,67+19j,"Priya"]
print(list_[len(l)])

Priya

In [21]:
# print the original list_

list_

[43, 68, 'Puja', 11.3, 564, (67+19j), 'Priya']

In [24]:
# print the length of the list_

list_[len(l)-0]

'Priya'

In [32]:
list_[len(l)-6]

43

In [33]:
list_

[43, 68, 'Puja', 11.3, 564, (67+19j), 'Priya']

In [34]:
# Using for loop to print the list:-
# start the for loop with the reference of the original list_
# and print the result

for k in list_:
    print(k)

43
68
Puja
11.3
564
(67+19j)
Priya

In [35]:
# Using for loop to print the list:-
# start the for loop with the reference of the original list_
# to make the list into the forward way we will add "end=" to amke it in one single line
# and print the result

for k in list_:
    print(k,end=" * ")

43 * 68 * Puja * 11.3 * 564 * (67+19j) * Priya *

In [36]:
# Using for loop to print the list:-
# start the for loop with the reference of the original list_
# to find the len of the list_:-
# and print the result

for k in range(len(list_)):
    print(k)

0
1
2
3
4
5
6

In [37]:
# Using for loop to print the list:-
# start the for loop with the reference of the original list_
# to make the list into the forward way we will add "end=" to amke it in one single line
# to find the len of the list_:-
# and print the result

for k in range(len(list_)):
    print(k,end=" * ")

0 * 1 * 2 * 3 * 4 * 5 * 6 *

In [38]:
# Using for loop to print the list:-
# start the for loop with the reference of the original list_
# to make the list into the forward way we will add "end=" to amke it in one single line
# to find the len of the list_:-
# if we want to print the real values than we did so
# and print the result

for k in range(len(list_)):
    print(list_[k],end=" * ")

43 * 68 * Puja * 11.3 * 564 * (67+19j) * Priya *

In [42]:
# Create an anothe rlist as l1:-

l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# Adding the values in the list:-

for k in l1:
    print(k+2)

3
4
5
6
7
8
9
10
11
12

In [45]:
# Taking two list and checking which one is greater among them.
# take first list as li1 
# Another list li2
# we always check it with the first value if the first value is differt than we find the greater
# but if the first value of both list are same then we move towards the next values

li1 = [92,67,45,34]i
li2 = [45,67,89,45,233,67,587,98]
li1>li2

True

In [46]:
# Taking two list and checking which one is greater among them.
# take first list as li1 
# Another list li2
# we always check it with the first value if the first value is differt than we find the greater
# but if the first value of both list are same then we move towards the next values

li1 = [92,67,45,34]
li2 = [92,67,45,34,233,67,587,98]
li1>li2

False

In [47]:
# to find the ASCII value of the alphabets:-
# for small alphabets

ord("a")

97

In [48]:
# to find the ASCII value of the alphabets:-
# For large alphabets

ord("H")

72

In [60]:
# to find the ASCII value of the alphabets:-
# For mathmatic values also

chr(12)

'\x0c'

In [55]:
# to find the ASCII value of the alphabets:-
# We also have ASCII vallue of the special characters.

ord("%")

37

In [51]:
# Know we have to find the greatest among the two list:-
# Take list1 and another list2

list1 = ["a","b","c"]
list2 = ["A","B","C"]
list1>list2

True

# DAY-9

In [61]:
# TAke a new list as l and assign variables into it :-

l = [78,99,88,100,102,34,66,44,33,23]
print(l,type(l))

[78, 99, 88, 100, 102, 34, 66, 44, 33, 23] <class 'list'>

In [62]:
# Finding id of l list:-

id(l)

2794814488448

In [63]:
# if want to add an item in the list without any method through l = l+2 than it shows error to us :-
# Let's try it:-

l = l+2

TypeError: can only concatenate list (not "int") to list

In [67]:
# if want to add an item in the list without any method through l = l+2 than it shows error to us :-
# We can do this without method like this:-

l + [78]

[78, 99, 88, 100, 102, 34, 66, 44, 33, 23, 2, 78]

In [68]:
# l + [78] also have some draw backs that it will not add in the original list:-
# Let's check the original list once:-

l

[78, 99, 88, 100, 102, 34, 66, 44, 33, 23, 2]

In [73]:
# we can do this like l = l+ [77] than it will get  add in the original list:-
# Let's have a look of it:-

l = l+[77]
l

[78, 99, 88, 100, 102, 34, 66, 44, 33, 23, 2, 3, 3, 7, 7, 77]

In [74]:
# Know let's check its id also whether the id of both are same or get changed.
# we can do this through id()

id(l)

# So, here the id is changed because the values get inserted in the another id variable by the same name.to avoid this we have several methods to do

2794814548864

In [75]:
# printing the list:-

l

[78, 99, 88, 100, 102, 34, 66, 44, 33, 23, 2, 3, 3, 7, 7, 77]

In [76]:
# Moving forward to Index Slicing :-
# Firstly we proced with Forward Slicing:-
# list name[starting popint: lastpoint +1: steps to move]

l[0:7:2]

[78, 88, 102, 66]

In [77]:
# Moving forward to Index Slicing :-
# Firstly we proced with Backward Slicing:-

l[-3:-7:-3]

[7, 2]

In [81]:
# Some more examples of Backward slicing are:-

print(l[-2:-9:-1])
print(l[-6:-10:-1])

[7, 7, 3, 3, 2, 23, 33]
[2, 23, 33, 44]

In [89]:
# Having some knoweledge about Nested list:-
# Nested list means lists inside a list:-
# let's know how:-

l=[11,22,[33,44,[55,66,[77,88,99]]]]
l

[11, 22, [33, 44, [55, 66, [77, 88, 99]]]]

In [90]:
# printing the list only through index :-

l[2]

[33, 44, [55, 66, [77, 88, 99]]]

In [91]:
# printing the list only through index :-

l[2][2]

[55, 66, [77, 88, 99]]

In [92]:
# printing the list only through index :-

l[2][2][2]

[77, 88, 99]

In [93]:
# printing the list only through index :-

l[2][2][2][1]

88

In [94]:
# Finding the length of the list:-
# We can do this through len:-

len(l)

3

In [95]:
# Let's have an another example of nested lists:-

l = [100,[101],[102,103,[104]],[105,204]]
l

[100, [101], [102, 103, [104]], [105, 204]]

In [96]:
# Finding the length of the list:-
# We can do this through len:-

len(l)

4

In [97]:
# printing the list only through index :-

l[1]

[101]

In [98]:
# printing the list only through index :-

l[2]

[102, 103, [104]]

In [99]:
# printing the list only through index :-

l[2][2]

[104]

In [100]:
# printing the list only through index :-

l[2][2][0]

104

In [101]:
# Creating a new list.
# Prnting its result and its type.
# Also printing its id 

l1 = [44,55,66,77]
print(l1,type(l1))
print(id(l1))

[44, 55, 66, 77] <class 'list'>
2794814309504

In [102]:
# If we want to multiply the list without method then we can do like this

l1 = l1*2
l1

[44, 55, 66, 77, 44, 55, 66, 77]

In [105]:
# Finding id of l1 list:-

id(l1)

# So, here the id is changed because the values get inserted in the another id variable by the same name.to avoid this we have several methods to do

2794814210176

In [106]:
# printing the list l:-

l

[100, [101], [102, 103, [104]], [105, 204]]

# Methods in list :-

In [107]:
# Create a new list and print its result with its type

l = [67,78,98,67,54,34,22,12,45,23,44]
print(l,type(l))

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 44] <class 'list'>

In [108]:
# Finding id of l list:-

id(l)

2794814413312

In [109]:
# Finding the length of the list:-
# We can do this through len:-

len(l)

11

In [110]:
# if we want to make a string into a list we can do this
# Firstly create a string 
# Then change string into a list

s = "PARUL"
l2 = list(s)
l2

['P', 'A', 'R', 'U', 'L']

In [111]:
# printing the list l

l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 44]

In [112]:
# If we want to find out the index of an item then we can find it.
# Index method
# Let's know it how:-

l.index(54)

4

In [113]:
# Some another examples of finding index
# Let's know it how:-

l.index(67)

0

In [114]:
# Some another examples of finding index
# Let's know it how:-

l.index(12)

7

In [115]:
# If we want to find out the index of an item then we can find it.
# But if theitem is not in the list than what happens:-
# Let's know it how:-

l.index(100)

# It will defenetly gives error to us.

ValueError: 100 is not in list

In [116]:
# Printing the list:-

l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 44]

In [118]:
# If we want to add an item in the list than we can do that through append method of list:-
# See how?

l.append(34)
l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 44, 34, 34]

In [119]:
# Let's check whether the id is change or not through append

id(l)

# Here through append method the id is not change its same as eaflier

2794814413312

In [123]:
# What happens we we want to add two elements at a time through the append method:-


l.append(12,10)
l

# It will always shows a error to us because append can add one item at once and at the end of the list

TypeError: list.append() takes exactly one argument (2 given)

In [124]:
# What happens we we want to add two elements at a time through the append method :-

l.append([12,10])
l

# Here the values will get inserted because it will get inserted into the nested list form the item is always count as one iten

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10]]

In [125]:
# What happens we we want to add two elements at a time through the append method :-
# We can done this through extend method to insert more than one item in the list at the end

l.extend([32,11,20,34])
l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34]

In [126]:
# But if we want to insert the elements without [] this than what happens:-
# let's see-

l.extend(14,1,2,3)
l

# It will also show a error because values can't be get inserted in alist without [] this bracket

TypeError: list.extend() takes exactly one argument (4 given)

In [128]:
# extend 1 into list:-

l.extend([1])
l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34, 1]

In [129]:
# print the list

l

[67, 78, 98, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34, 1]

In [133]:
# But we want to add an item in between the list not at the than we can use the insert method:-
# Append method add one item at the end of the list
# Extend method add more than one item at the end of the list

l.insert(1,1)
print(l)

[67, 1, 78, 98, 41, 41, 61, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34, 1]

In [134]:
# Let's have some more examples of inserting items:-

l.insert(0,100)
print(l)

[100, 67, 1, 78, 98, 41, 41, 61, 67, 54, 34, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34, 1]

In [135]:
# Let's have some more examples of inserting items:-

l.insert(11,0)
print(l)

[100, 67, 1, 78, 98, 41, 41, 61, 67, 54, 34, 0, 22, 12, 45, 23, 34, 34, [12, 10], 32, 11, 20, 34, 1]

In [137]:
# Creating a new list and print its result with it type:-

l = [1, 78, 98,41, 61, 67, 54, 34]
print(l,type(l))

[1, 78, 98, 41, 61, 67, 54, 34] <class 'list'>

In [138]:
# printing the id of the list

id(l)

2794815467264

In [139]:
# If we want to reverse the list without method than we can do this like
# but it will not change in the original list:-
# lets see how

l[::-1]

[34, 54, 67, 61, 41, 98, 78, 1]

In [140]:
print(l)

[1, 78, 98, 41, 61, 67, 54, 34]

In [143]:
# We can do this through the reverse method to also change in the original list:-

l.reverse()
l

[34, 54, 67, 61, 41, 98, 78, 1]

In [145]:
# If we want to count the item psesence in the list we can do it through the count method:-

l.count(67)

1

In [146]:
# have some more example of count:-

l.count(41)

1

In [147]:
# have some more example of count:-

l.count(54)

1

In [148]:
# have some more example of count:-
# what happens if the element is not present in the list 

l.count(100)

# Here it always count 0 intead of error

0

In [151]:
# printing the list:-

l

[34, 54, 67, 61, 41, 98, 78, 1]

In [152]:
# if we want to delete any element from the list than we can do this through the pop method:-

l.pop()

# it will directly put the last item from the list

1

In [153]:
# if we want to pop some specific item from the list than we can do this through its index no

l.pop(1)

54

In [154]:
# print the list l:-

l

[34, 67, 61, 41, 98, 78]

In [155]:
# if we right the index which is not present in the list than what happens:-

l.pop(15)

# it will show an error

IndexError: pop index out of range

In [156]:
# we can also pop in backward indexing:-

l.pop(-1)

78

In [158]:
# printing the list l

l

[34, 67, 61, 41, 98]

In [159]:
# How we can delete an item from the list between and we don't know the index no of that item 
# We can do this with the remove method and delete the element

l.remove(67)

In [160]:
# print the list:-

l

[34, 61, 41, 98]

In [161]:
# but if we remove the item not present in the list:-

l.remove(300)

# it will gives an error

ValueError: list.remove(x): x not in list

In [162]:
# print the list l1:-

l1

[44, 55, 66, 77, 44, 55, 66, 77]

In [163]:
# what we do if we want to delete the whole list 
# than we have to use the clear method:-
# it will make an empty list:-

l1.clear()

In [164]:
# print the list l1:-

l1

# Here the list is empty

[]

In [166]:
# Extend the list l1:-

l1.extend([34, 54, 67, 61, 41, 98, 78, 1])
l1

[34, 54, 67, 61, 41, 98, 78, 1]

In [167]:
# what if we want to delete the in between items in the list than we can do it through del:-

del l1[0:6:1]

In [168]:
# printing the list

l1

[78, 1]

In [172]:
# what if we want to delete the whole list:-

del L

NameError: name 'L' is not defined

In [174]:
# Creating a new list and print its result with its type:-

l = [22,33,44,55,66,77,88]
print(l,type(l))
id(l)

[22, 33, 44, 55, 66, 77, 88] <class 'list'>

2794814314944

In [175]:
# we can get the sum of the list;-

sum(l)

385

In [176]:
# We can get the max of the list:-

max(l)

88

In [177]:
# We can get the min of the list:-

min(l)

22

In [178]:
# But we can't get the average of the list:-
# let's know how:-

avg(l)

# It will gives an error to us

NameError: name 'avg' is not defined

# DAY-10

In [182]:
# Creating a new list as l :-

l = [23,45,34,23,56,45,78,87,98,56,34]
print(l,type(l)),id(l)

[23, 45, 34, 23, 56, 45, 78, 87, 98, 56, 34] <class 'list'>

(None, 2794814172096)

In [180]:
# Now we want to sort a list into asc or desc order than we can do this through sort method.
# we can use sort method as by default it change a list into asc order :-
# Let's see how:-

l.sort()
l

[23, 23, 34, 34, 45, 45, 56, 56, 78, 87, 98]

In [181]:
# On the other hand if you want to change it into desc order .
# We can do this by reverseing it:-
# Let's know how:-

l.sort(reverse=True)
l

[98, 87, 78, 56, 56, 45, 45, 34, 34, 23, 23]

In [183]:
# checking that whether the id of the list is changing or not.
# We can check this through id()

id(l)

# Here the id is not changed  it remains the same

2794814172096

In [184]:
# Printing the list l:-

l

[23, 45, 34, 23, 56, 45, 78, 87, 98, 56, 34]

In [185]:
# Know let's apply sorted method on the list.
# Know how:-

sorted(l)

# It also sorted the list into the asc order directly

[23, 23, 34, 34, 45, 45, 56, 56, 78, 87, 98]

In [187]:
# Printing the list:-

l

[23, 45, 34, 23, 56, 45, 78, 87, 98, 56, 34]

In [189]:
# sorted the list through the list:-

l = sorted(l)
l

[23, 23, 34, 34, 45, 45, 56, 56, 78, 87, 98]

In [190]:
# Printing the id of the list:-

id(l)

# Here the id of the list get changed .

2794814523392

In [191]:
# On the other hand if you want to do the desc order you can do directly .
# Through the reverse method.

l = sorted(l,reverse=True)
l

# Here the list get in desc order.

[98, 87, 78, 56, 56, 45, 45, 34, 34, 23, 23]

In [192]:
# Checking the id of the list l:-

id(l)

# The id of the list again get changed in.

2794814417472

In [193]:
# Finding the greatest among the three values.
# input the variables as a,b ,c
# Know make them as a list
# Printing the result of the list

a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))
l = [a,b,c]
l.sort()
print("Greatest 1st number is: ",l[2])
print("Greatest 2nd number is: ",l[1])
print("Greatest 3rd number is: ",l[0])

Enter the value of a: 45
Enter the value of b: 12
Enter the value of c: 89
Greatest 1st number is:  89
Greatest 2nd number is:  45
Greatest 3rd number is:  12