# Data Table

In [1]:
# ----> An alternative to Pandas or SFrame
# ----> its useful to work with data clean and then data analysis just like pandas.
# -----> Similar API to Data Table in R
# -----> Specific emphasis on speed and big data support

In [2]:
#Installation:-
# --> pip install datatable

In [3]:
pip install datatable

Defaulting to user installation because normal site-packages is not writeable
Collecting datatable
  Downloading datatable-1.1.0-cp311-cp311-win_amd64.whl.metadata (1.8 kB)
Downloading datatable-1.1.0-cp311-cp311-win_amd64.whl (4.7 MB)
   ---------------------------------------- 0.0/4.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.7 MB 640.0 kB/s eta 0:00:08
   ---------------------------------------- 0.1/4.7 MB 650.2 kB/s eta 0:00:08
   - -------------------------------------- 0.1/4.7 MB 1.0 MB/s eta 0:00:05
   - -------------------------------------- 0.2/4.7 MB 1.1 MB/s eta 0:00:04
   -- ------------------------------------- 0.3/4.7 MB 1.2 MB/s eta 0:00:04
   -- ------------------------------------- 0.3/4.7 MB 1.3 MB/s eta 0:00:04
   -- ------------------------------------- 0.3/4.7 MB 1.3 MB/s eta 0:00:04
   ---- ----------------------------------- 0.5/4.7 MB 1.5 MB/s eta 0:00:03
   ----- ---------------------------------- 0.6/4.7 MB 1.6 MB/s eta 0:00:03
   ----- ---------------------------------- 0.7/4.7 MB 1.7 MB/s eta 0:00:03
   ------ --------------------------------- 0.8/4.7 MB 1.6 MB/s eta 0:00:03
   ------- -------------------------------- 0.9/4.7 MB 1.7 MB/s eta 0:00:03
   -------- ------------------------------- 1.0/4.7 MB 1.8 MB/s eta 0:00:03
   -------- ------------------------------- 1.0/4.7 MB 1.8 MB/s eta 0:00:03
   --------- ------------------------------ 1.1/4.7 MB 1.5 MB/s eta 0:00:03
   --------- ------------------------------ 1.1/4.7 MB 1.6 MB/s eta 0:00:03
   ---------- ----------------------------- 1.3/4.7 MB 1.6 MB/s eta 0:00:03
   ----------- ---------------------------- 1.4/4.7 MB 1.7 MB/s eta 0:00:02
   ------------ --------------------------- 1.5/4.7 MB 1.7 MB/s eta 0:00:02
   ------------- -------------------------- 1.6/4.7 MB 1.7 MB/s eta 0:00:02
   -------------- ------------------------- 1.7/4.7 MB 1.8 MB/s eta 0:00:02
   --------------- ------------------------ 1.8/4.7 MB 1.8 MB/s eta 0:00:02
   ---------------- ----------------------- 1.9/4.7 MB 1.8 MB/s eta 0:00:02
   ----------------- ---------------------- 2.0/4.7 MB 1.8 MB/s eta 0:00:02
   ------------------ --------------------- 2.2/4.7 MB 1.9 MB/s eta 0:00:02
   ------------------- -------------------- 2.3/4.7 MB 1.9 MB/s eta 0:00:02
   -------------------- ------------------- 2.5/4.7 MB 2.0 MB/s eta 0:00:02
   ---------------------- ----------------- 2.6/4.7 MB 2.0 MB/s eta 0:00:02
   ---------------------- ----------------- 2.7/4.7 MB 2.0 MB/s eta 0:00:01
   ----------------------- ---------------- 2.8/4.7 MB 2.0 MB/s eta 0:00:01
   ------------------------- -------------- 3.0/4.7 MB 2.1 MB/s eta 0:00:01
   ------------------------- -------------- 3.1/4.7 MB 2.1 MB/s eta 0:00:01
   --------------------------- ------------ 3.2/4.7 MB 2.1 MB/s eta 0:00:01
   ---------------------------- ----------- 3.3/4.7 MB 2.1 MB/s eta 0:00:01
   ---------------------------- ----------- 3.4/4.7 MB 2.1 MB/s eta 0:00:01
   ----------------------------- ---------- 3.5/4.7 MB 2.1 MB/s eta 0:00:01
   ------------------------------ --------- 3.6/4.7 MB 2.1 MB/s eta 0:00:01
   ------------------------------- -------- 3.7/4.7 MB 2.1 MB/s eta 0:00:01
   -------------------------------- ------- 3.8/4.7 MB 2.1 MB/s eta 0:00:01
   --------------------------------- ------ 4.0/4.7 MB 2.1 MB/s eta 0:00:01
   ---------------------------------- ----- 4.1/4.7 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 4.2/4.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 4.2/4.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 4.2/4.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 4.3/4.7 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 4.4/4.7 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 4.5/4.7 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  4.7/4.7 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  4.7/4.7 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 4.7/4.7 MB 2.0 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Load EDA pckages

In [8]:
import datatable as dt

In [9]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\parul\appdata\roaming\python\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
# Methods dt
# syntax ----> dir(dt)

dir(dt)

['FExpr',
 'Frame',
 'Namespace',
 'Type',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__warningregistry__',
 '_build_info',
 'abs',
 'as_type',
 'bool8',
 'build_info',
 'by',
 'categories',
 'cbind',
 'codes',
 'corr',
 'count',
 'countna',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'cut',
 'dt',
 'exceptions',
 'exp',
 'expr',
 'f',
 'fillna',
 'first',
 'float32',
 'float64',
 'frame',
 'fread',
 'g',
 'ifelse',
 'init_styles',
 'int16',
 'int32',
 'int64',
 'int8',
 'internal',
 'intersect',
 'iread',
 'isna',
 'join',
 'last',
 'lib',
 'log',
 'log10',
 'ltype',
 'math',
 'max',
 'mean',
 'median',
 'min',
 'ngroup',
 'nunique',
 'obj64',
 'options',
 'prod',
 'qcut',
 'rbind',
 're',
 'repeat',
 'rowall',
 'rowany',
 'rowargmax',
 'rowargmin',
 'rowcount',
 'rowfirst',
 'rowlast',
 'rowmax',
 'rowmean',
 'rowmin',
 'rowsd',
 'rowsum',
 'sd',
 'setdiff',
 'shift',
 'sort',
 'split_into_nhot',
 'str',
 'str32',
 'str64',
 'stype',
 'sum',
 'symdiff',
 'time',
 'types',
 'union',
 'unique',
 'update',
 'void']

In [9]:
# Read a simple CSV file
# syntax ----> df = dt.fread(file.csv)       df.head()

In [10]:
# Read a simple exel file
# syntax ----> df_excel = dt.fread(file.xlsx)       df.head()

In [11]:
df = dt.fread(r"C:\Users\parul\Desktop\housing.csv")

In [12]:
df.head()

In [22]:
#shape
##syntax ----> df.shape

df.shape

(20640, 10)

In [23]:
# Rows
## syntax ----> df.shape[0]

df.shape[0]

20640

In [24]:
df.nrows

20640

In [25]:
# Columns
## syntax ----> df.shape[1]

df.shape[1]

10

In [26]:
df.ncols

10

In [27]:
#Methods of Frame
## syntax ---> dir(df)

dir(df)

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_repr_html_',
 'cbind',
 'colindex',
 'copy',
 'countna',
 'countna1',
 'export_names',
 'head',
 'key',
 'keys',
 'kurt',
 'kurt1',
 'ltypes',
 'materialize',
 'max',
 'max1',
 'mean',
 'mean1',
 'meta',
 'min',
 'min1',
 'mode',
 'mode1',
 'names',
 'ncols',
 'ndims',
 'newsort',
 'nmodal',
 'nmodal1',
 'nrows',
 'nunique',
 'nunique1',
 'rbind',
 'replace',
 'sd',
 'sd1',
 'shape',
 'skew',
 'skew1',
 'sort',
 'source',
 'stype',
 'stypes',
 'sum',
 'sum1',
 'tail',
 'to_arrow',
 'to_csv',
 'to_dict',
 'to_jay',
 'to_list',
 'to_numpy',
 'to_pandas',
 'to_tuples',
 'type',
 'types',
 'view']

In [28]:
df.tail()

In [29]:
#Head
df.head(15)

In [30]:
# Columns Names

df.names

('longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity')

In [31]:
# Datatypes in pandas 
# df.dtypes
# Datatypes 

df.stypes

(stype.float64,
 stype.float64,
 stype.int32,
 stype.int32,
 stype.int32,
 stype.int32,
 stype.int32,
 stype.float64,
 stype.int32,
 stype.str32)

In [32]:
# Check Dimension

df.ndims

2

In [33]:
# Missing values in pandas 
## df.isna()
# Missing values 

df.countna()

In [34]:
# check for Datatypes

df.ltypes

(ltype.real,
 ltype.real,
 ltype.int,
 ltype.int,
 ltype.int,
 ltype.int,
 ltype.int,
 ltype.real,
 ltype.int,
 ltype.str)

In [35]:
#Preview

df.view()

C:\Users\parul\AppData\Local\Temp\ipykernel_27144\2118411210.py:3: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  df.view()

In [36]:
## Select coloumns and rows
# DT[i,j,..]
# DT[row_selector,coloumn_selector,..]
#Select column by index
#in pandas ---> df.iloc[:,1]

df[1]

In [38]:
#Select column by name
#in pandas ---> df.iloc[:,1]    for multiple column  df.loc[:,["cl1","cl2"]

df["total_rooms"]

In [39]:
df[:,2]

In [41]:
#Select multiple columns

df[:,["households",	"median_income"]]

In [42]:
#Select row by index
#in pandas ---> df.iloc[0]

df[0,:]

In [44]:
df[0,["total_bedrooms",	"population"]]

In [45]:
# selecting multiple rows

df[0:3,:]

In [13]:
#selecting multiple rows nd column 
df[0:3,["latitude",	"housing_median_age"]]

In [14]:
# Selective Selection:-

df[[0,2,5,10],["population"	,"households"]]

In [15]:
# F -expression/operator:-

dt.f.data_value

FExpr<f.data_value>

In [17]:
from datatable import f

In [18]:
dir(f)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [19]:
df["ocean_proximity"]

In [20]:
# Select A column using F expression
#Dot notation

df[:,f.ocean_proximity]

In [21]:
# grow by using f

dir(dt)

['FExpr',
 'Frame',
 'Namespace',
 'Type',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__warningregistry__',
 '_build_info',
 'abs',
 'as_type',
 'bool8',
 'build_info',
 'by',
 'categories',
 'cbind',
 'codes',
 'corr',
 'count',
 'countna',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'cut',
 'dt',
 'exceptions',
 'exp',
 'expr',
 'f',
 'fillna',
 'first',
 'float32',
 'float64',
 'frame',
 'fread',
 'g',
 'ifelse',
 'init_styles',
 'int16',
 'int32',
 'int64',
 'int8',
 'internal',
 'intersect',
 'iread',
 'isna',
 'join',
 'last',
 'lib',
 'log',
 'log10',
 'ltype',
 'math',
 'max',
 'mean',
 'median',
 'min',
 'ngroup',
 'nunique',
 'obj64',
 'options',
 'prod',
 'qcut',
 'rbind',
 're',
 'repeat',
 'rowall',
 'rowany',
 'rowargmax',
 'rowargmin',
 'rowcount',
 'rowfirst',
 'rowlast',
 'rowmax',
 'rowmean',
 'rowmin',
 'rowsd',
 'rowsum',
 'sd',
 'setdiff',
 'shift',
 'sort',
 'split_into_nhot',
 'str',
 'str32',
 'str64',
 'stype',
 'sum',
 'symdiff',
 'time',
 'types',
 'union',
 'unique',
 'update',
 'utils',
 'void',
 'xls']

In [22]:
df[:,dt.sum(f.population)]

In [23]:
df[:,dt.sum(f.population),dt.by(f.median_income)]

In [24]:
#Export Frame:-

df.to_csv("new_example.csv")

In [25]:
dir(df)

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_repr_html_',
 'cbind',
 'colindex',
 'copy',
 'countna',
 'countna1',
 'export_names',
 'head',
 'key',
 'keys',
 'kurt',
 'kurt1',
 'ltypes',
 'materialize',
 'max',
 'max1',
 'mean',
 'mean1',
 'meta',
 'min',
 'min1',
 'mode',
 'mode1',
 'names',
 'ncols',
 'ndims',
 'newsort',
 'nmodal',
 'nmodal1',
 'nrows',
 'nunique',
 'nunique1',
 'rbind',
 'replace',
 'sd',
 'sd1',
 'shape',
 'skew',
 'skew1',
 'sort',
 'source',
 'stype',
 'stypes',
 'sum',
 'sum1',
 'tail',
 'to_arrow',
 'to_csv',
 'to_dict',
 'to_jay',
 'to_list',
 'to_numpy',
 'to_pandas',
 'to_tuples',
 'type',
 'types',
 'view']

In [27]:
df_kk=dt.fread("new_example.csv")

In [28]:
df.head()

In [29]:
import pandas as pd 
import time
import os
import datatable as dt

In [31]:
%%time
data=pd.read_csv("C:\\Users\\parul\\Desktop\\housing.csv")

CPU times: total: 0 ns
Wall time: 40.2 ms

In [32]:
%%time
df=dt.fread('C:\\Users\\parul\\Desktop\\housing.csv')
df=df.to_pandas()

CPU times: total: 312 ms
Wall time: 53.4 ms

In [33]:
# computaional gain

In [34]:
## Read time comparion

In [35]:
import datatable as dt
import pandas as pd 
import time
import os

In [36]:
s = time.time()
df_pandas=pd.read_csv("C:\\Users\\parul\\Desktop\\housing.csv")
e = time.time()
pd_time = e-s
print("Pandas Loading Time = {}".format(pd_time))

Pandas Loading Time = 0.037726402282714844

In [37]:
s = time.time()
df_datatable=dt.fread('C:\\Users\\parul\\Desktop\\housing.csv')
e = time.time()
datatable_time = e-s
print("Datatable Loading Time = {}".format(datatable_time))

Datatable Loading Time = 0.00955653190612793