# STRING

In [ ]:
# what is string?
=> A “string” is a data type in Python, composed of a collection of characters.
=>In Python, strings are used for representing textual data
=> A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).

In [2]:
# Creating a string as s:-

s = "Parul Yadav"
print(s,type(s))

Parul Yadav <class 'str'>

In [3]:
# printing id of s:-

id(s)

2481251471088

In [4]:
# Calling the string from the index:-

s[2]

'r'

In [5]:
# Can we replace it to index:-
# Let's see:-

s[0] = "T"

# No it will not work , it will always show an error to us.

TypeError: 'str' object does not support item assignment

In [6]:
# Caling the string as s:-

s

'Parul Yadav'

In [8]:
# Calling it from index:-

s[5]

# It will also count space as a special character in it.

' '

In [9]:
# Printing the string with the help of loop:-
# Using for loop:-

for k in s:
    print(k)

P
a
r
u
l

Y
a
d
a
v

In [10]:
# Printing the string with the help of loop:-
# Using for loop:-
# We can also do this using end =""

for k in s:
    print(k,end=" ")

P a r u l   Y a d a v

In [11]:
# Printing the string with the help of loop:-
# Using for loop:-
# With the help of range:-

for k in range(len(s)):
    print(s[k])

P
a
r
u
l

Y
a
d
a
v

In [13]:
# Printing the string with the help of loop:-
# Using for loop:-
# With the help of range:-
# using end =""

for k in range(len(s)):
    print(s[k],end="")

Parul Yadav

In [16]:
# What if we want to reverse the string with the loop
# let's try it with for loop:-

for k in range(-1,-(len(s))-1,-1):
    print(k)
# Here we are printing the indexing of string

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11

In [17]:
# What if we want to reverse the string with the loop
# let's try it with for loop:-

for k in range(-1,-(len(s))-1,-1):
    print(s[k])

v
a
d
a
Y

l
u
r
a
P

In [15]:
# What if we want to reverse the string with the loop
# let's try it with for loop:-
# Using end=""

for k in range(-1,-(len(s))-1,-1):
    print(s[k],end="")

vadaY luraP

In [18]:
# Comparing two string
# Is it possible to do so:-

s1 = "parul"
s2 = "yadav"
s1>s2

# We are doing this through the ascii value

False

In [19]:
# ASCII value of p:-

ord("p")

112

In [20]:
# ASCII value of y:-

ord("y")

121

In [26]:
# Calling s1:-

s1

'parulmehta mehta'

In [27]:
# Checking id of s1:-

id(s1)

2481280277584

In [28]:
# Adding string into string:-

s1 = s1+" mehta"

In [29]:
# Calling s1 to check the result:-

s1

'parulmehta mehta mehta'

In [31]:
# Again checking id of s1:-

id(s1)

# Here the id is changed because string is immutable.

2481271926704

In [33]:
# What we can do if we want to mutiple a no many time:-
# Is it possible in string:-
# Let's check:-

s2 = "&"
s2 *= 6
s2

'&&&&&&'

In [34]:
# calling the string as s:-

s

'Parul Yadav'

In [35]:
# Checking id of string s:-

id(s)

2481251471088

In [36]:
# reversing of the string:-

s[::-1]

'vadaY luraP'

In [37]:
# Printing the string:-

s

'Parul Yadav'

In [38]:
# Slicing the string s:-

s[6:11:1]

'Yadav'

In [39]:
# Slicing the string s:-

s[1:3:1]

'ar'

In [40]:
# Calling the string as s:-

s

'Parul Yadav'

In [41]:
# Finding the length of the string s:-

len(s)

11

In [42]:
# Converting a integer into the string:-

a = 3462124243
a

3462124243

In [43]:
# Converting a integer into the string:-

s4 = str(a)
s4

'3462124243'

In [44]:
# Calling the string:-

s

'Parul Yadav'

In [45]:
# If we want to capital only the first letter of the first word:-

s.capitalize()

'Parul yadav'

In [46]:
# If we want to find the index of the letter:-

s.index("a")

1

In [47]:
# If we want to find the index of the letter:-
# What if that letter is not in the string

s.index("q")

# It always show an error.

ValueError: substring not found

In [48]:
# CAlling the string s:-

s

'Parul Yadav'

In [49]:
# If we want to find the index of the letter:-
# we can also do this like:-
# This uses we we have same letter at different index

s.index("a",3)

7

In [50]:
# If we want to find the index of the letter:-
# We can also do it through find:-

s.find("a")

1

In [51]:
# If we want to find the index of the letter:-
# We can also do it through find:-

s.find("a",3)

7

In [52]:
# If we want to find the index of the letter:-
# We can also do it through find:-
# What if that letter is not in the string:-

s.find("q")

# It will give an negative value in place of error

-1

In [53]:
# Calling the string s:-

s

'Parul Yadav'

In [55]:
# finding string s have only alphabets:-

s.isalpha()

False

In [56]:
# finding string s have only digits:-

s.isdigit()

False

In [57]:
# finding string s have both alphabets and digits in it:-

s.isalnum()

False

In [58]:
# finding string s have only space:-

s.isspace()

False

In [59]:
# Lowering all the letters of the string:-

s.lower()

'parul yadav'

In [60]:
# Uppering all the letters of string:-

s.upper()

'PARUL YADAV'

In [61]:
# Checking that the string is having all upper letters:-

s.isupper()

False

In [62]:
# Checking that the string is having all lower letters:-

s.islower()

False

In [65]:
# What if we want to capital the first letter of all words:-

s.title()

'Parul Yadav'

In [66]:
# Checking that the string s is having only tittled words:-

s.istitle()

True

In [67]:
# What if we want to change the words :-

s.replace("Yadav","Kumari")

'Parul Kumari'

In [68]:
# Calling the original s string:-

s

'Parul Yadav'

In [69]:
# stripping from the left:-

s.lstrip()

# Bydefault remove the presence of space from the left side.

'Parul Yadav'

In [70]:
# stripping from the left:-

s.lstrip("Pa")

'rul Yadav'

In [71]:
# stripping from the right:-

s.rstrip()
# Bydefault removing the presence of space from the right side.

'Parul Yadav'

In [72]:
# stripping from the right:-

s.rstrip("av")

'Parul Yad'

In [73]:
# Calling the string as s to chrck the changes in the string:-

s

'Parul Yadav'

In [74]:
# Can we delete a word from the string:-
# We can do this through the help of replace.

s.replace("Parul"," ")

'  Yadav'

In [75]:
# calling the string as s:-

s

'Parul Yadav'

In [78]:
# swapping the letter lower to upper or vice -versa:-

s5 = "pYTHON iNTRO"
s5.swapcase()

'Python Intro'