# DAY-12

In [ ]:
# What is Dictionary?
=> Dictionary is a collection of items or elements in key value pairs.
=> It always represents in {} brackets but with {key: values}
=> Dictionary is mutable but the key inside the dictionary is imutable and values are also mutable.
=> It is collection of ordered pair of keys and values.

In [3]:
# Creating a dictionary as d:-
# Inserting keys and values in it as par choice.
#  printing its result with it type.

d = {"Id":101,"Name":"Parul","Surname":"Yadav","Age":20,"Couse":"Python"}
print(d,type(d))

{'Id': 101, 'Name': 'Parul', 'Surname': 'Yadav', 'Age': 20, 'Couse': 'Python'} <class 'dict'>

In [4]:
# Printing the id of the dictionary d:-

id(d)

2194664327360

In [5]:
# If we want to find any value from the  index .
# Can we do this / Is it possible?

d[0]

# No, its not possible because dictionary consists of key and value pair and it doesn't have any index value of its own that's why indexing is not possible in dictionary.
# It always show an error to us.

KeyError: 0

In [6]:
# On the other hand we can call it through its key 
# Or we can say we can call an value from its key?
# Let's see how we can do this?

d["Id"]

101

In [7]:
# On more exam of this is:-

d["Age"]

20

In [8]:
# Can we change the value in the dictionary.
# Is it possible to do so
# Let's have a look :-

d["Name"] = "Amisha"

In [9]:
# calling the dictionary to check whether the name is changed or not:-
# Let's see

d

# Here the value of the key "name" has been changed as because value are mutable in dictionary

{'Id': 101, 'Name': 'Amisha', 'Surname': 'Yadav', 'Age': 20, 'Couse': 'Python'}

In [10]:
# Let's check the id also to see that the id is changed or not:-

id(d)

# The id is not changed it was remain same as earlier.

2194664327360

In [11]:
# Check that the dictionary is mutable or imutable:-
# Let's have a look

d["Fees"] = 10000

In [14]:
# Calling the dictionary to check the result :-

d

# Here it proves that the dictionary is mutable as it add the new key in it.

{'Id': 101,
 'Name': 'Amisha',
 'Surname': 'Yadav',
 'Age': 20,
 'Couse': 'Python',
 'Fees': 10000}

In [15]:
# Checking its id also:-

id(d)

# The id is same here.

2194664327360

In [16]:
# Printing the dictionary using the for loop:-

for k in d:
    print(k)
    
# Here only the keys are print because we ask for only the keys.

Id
Name
Surname
Age
Couse
Fees

In [17]:
# Printing the dictionary using the for loop:-

for k in d:
    print(k,"------>",d[k])

Id ------> 101
Name ------> Amisha
Surname ------> Yadav
Age ------> 20
Couse ------> Python
Fees ------> 10000

In [18]:
# Printing the dictionary using the for loop:-
# For the range function also:-

for k in range(len(d)):
    print(k)
    
# Here it is only for the printing of the index.

0
1
2
3
4
5

In [19]:
# Printing the dictionary using the for loop:-
# For the range function also:-

for k in range(len(d)):
    print(d[k])
    
# Here it is only for the printing of the index.
# We can't print the values from the dictionary like this

KeyError: 0

In [20]:
# Is it possible to print the comparison of two dictionary:-
# Let's know why?

d1 = {"id":101}
d2 = {"id":102}
d1>d2

# Here it is not possible to compare two dictionary.
# Because dictionary is not able to work on comparision operator.

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [21]:
# Calling the dictionary again:-

d

{'Id': 101,
 'Name': 'Amisha',
 'Surname': 'Yadav',
 'Age': 20,
 'Couse': 'Python',
 'Fees': 10000}

In [22]:
# printing dictionary values with the help of key attributes

d["Name"]

'Amisha'

In [23]:
# Printing id of d:-

id(d)

2194664327360

In [24]:
# Finding the length of the dictionary:-

len(d)

# Here the length of the dictionary is 6.

6

In [25]:
# caling the keys of the dictionary

d.keys()

dict_keys(['Id', 'Name', 'Surname', 'Age', 'Couse', 'Fees'])

In [26]:
# printing the keys through the for loop:-

for k in d.keys():
    print(k)

Id
Name
Surname
Age
Couse
Fees

In [27]:
# calling the values from the dictionary:

d.values()

dict_values([101, 'Amisha', 'Yadav', 20, 'Python', 10000])

In [28]:
# printing the values of the dictionary through the for loop:-

for k in d.values():
    print(k)

101
Amisha
Yadav
20
Python
10000

In [29]:
# Calling the keys and values from the items:

d.items()

dict_items([('Id', 101), ('Name', 'Amisha'), ('Surname', 'Yadav'), ('Age', 20), ('Couse', 'Python'), ('Fees', 10000)])

In [30]:
# printing the items of the dictionary through the for loop:

for k,j in d.items():
    print(k,"------>",j)

Id ------> 101
Name ------> Amisha
Surname ------> Yadav
Age ------> 20
Couse ------> Python
Fees ------> 10000

In [31]:
# Calling the dictionary d:

d

{'Id': 101,
 'Name': 'Amisha',
 'Surname': 'Yadav',
 'Age': 20,
 'Couse': 'Python',
 'Fees': 10000}

In [32]:
# If we want to remove any key or values from the dictionary.
# Can we do it through the remove method
# Let's try it once what happens next.

d.remove("id")

# No, its not possible through the remove method to delete any element from the dictionary.

AttributeError: 'dict' object has no attribute 'remove'

In [33]:
# If we want to pop any key or values from the dictionary.
# Can we do it through the pop method
# Let's try it once what happens next.

d.pop()

# No, its not possible through the method to delete any element from the dictionary.
# Without passing any attribute key value in it.

TypeError: pop expected at least 1 argument, got 0

In [36]:
# If we want to pop any key or values from the dictionary.
# Can we do it through the pop method
# Let's try it once what happens next.

d.pop("Couse")

'Python'

In [37]:
# Calling the dictionary:

d

{'Id': 101, 'Name': 'Amisha', 'Surname': 'Yadav', 'Age': 20, 'Fees': 10000}

In [38]:
# Checking it id is changed or remain same:-

id(d)

2194664327360

In [39]:
# We can also do it like this also:

d.popitem()
# It bydefault remove the last item of the dictionary automatically.

('Fees', 10000)

In [40]:
# Input the name :-

name = list(input("Enter the name: "))

Enter the name: parul puja

In [41]:
# Calling name:-

name

['p', 'a', 'r', 'u', 'l', ' ', 'p', 'u', 'j', 'a']

In [42]:
# to avoid the above result we used the split method:-
# Let's kn ow how we can do this:-

name = input("Enter the name: ").split()

Enter the name: Parul Puja Meghna

In [43]:
# Calling the name to check the result:-

name

['Parul', 'Puja', 'Meghna']

In [45]:
# We can also do this from the id :-
# Let's see:-

id_ = input("Enter the id ").split()
id_

Enter the id 101 102 103 104 105

['101', '102', '103', '104', '105']

In [49]:
# Doing it through mapping once:

id_ = map(int,input("Enter the id_").split())
id_

Enter the id_101 102 103 104

In [50]:
list(id_)

[101, 102, 103, 104]

In [51]:
# Making an dataframe :-

id_ = list(map(int,input("Enter the id:").split()))
name = input("Enter the name: ".split())
age = list(map(int,input("Enter the age:").split()))
course = input("Enter the course: ".split())
fees = list(map(int,input("Enter the fees:").split()))
address = input("Enter the address: ".split())
gender = input("Enter the gender: ".split())

Enter the id:1001 1002 1003 1004 10005 1006 1007 1008 1009 1010
['Enter', 'the', 'name:']Parul Pradeep Mehak Ronak Rohan Tilak Puja Sahil Ravi Rani
Enter the age:20 19 20 19 19 19 20 20 19 20
['Enter', 'the', 'course:']Java Python React C C++ DSA SQL PHP Devops DA
Enter the fees:10000 20000 13000 2400 5200 7600 7000 3400 9460 10009
['Enter', 'the', 'address:']Jaipur Haryana Bihar  Jodhpur Ranchi Odisha Lucknow Delhi HP Up
['Enter', 'the', 'gender:']F M F M M M F M M F

In [52]:
d = {"ID":id_,"Name":name,"Age":age,"Course":course,"Fees":fees,"Address":address,"Gender":gender
}

In [53]:
# Printing valuees of d:-

d

{'ID': [1001, 1002, 1003, 1004, 10005, 1006, 1007, 1008, 1009, 1010],
 'Name': 'Parul Pradeep Mehak Ronak Rohan Tilak Puja Sahil Ravi Rani',
 'Age': [20, 19, 20, 19, 19, 19, 20, 20, 19, 20],
 'Course': 'Java Python React C C++ DSA SQL PHP Devops DA',
 'Fees': [10000, 20000, 13000, 2400, 5200, 7600, 7000, 3400, 9460, 10009],
 'Address': 'Jaipur Haryana Bihar  Jodhpur Ranchi Odisha Lucknow Delhi HP Up',
 'Gender': 'F M F M M M F M M F'}

In [57]:
# Importing pandas and extrac dataframe:-

import pandas as pd

In [58]:
df=pd.DataFrame(d)
df

,ID,Name,Age,Course,Fees,Address,Gender
0,1001,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,20,Java Python React C C++ DSA SQL PHP Devops DA,10000,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
1,1002,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,19,Java Python React C C++ DSA SQL PHP Devops DA,20000,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
2,1003,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,20,Java Python React C C++ DSA SQL PHP Devops DA,13000,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
3,1004,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,19,Java Python React C C++ DSA SQL PHP Devops DA,2400,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
4,10005,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,19,Java Python React C C++ DSA SQL PHP Devops DA,5200,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
5,1006,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,19,Java Python React C C++ DSA SQL PHP Devops DA,7600,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
6,1007,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,20,Java Python React C C++ DSA SQL PHP Devops DA,7000,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
7,1008,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,20,Java Python React C C++ DSA SQL PHP Devops DA,3400,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
8,1009,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,19,Java Python React C C++ DSA SQL PHP Devops DA,9460,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F
9,1010,Parul Pradeep Mehak Ronak Rohan Tilak Puja Sah...,20,Java Python React C C++ DSA SQL PHP Devops DA,10009,Jaipur Haryana Bihar Jodhpur Ranchi Odisha Lu...,F M F M M M F M M F