# TUPLE

In [50]:
# Creating a tuple as t:-
# Printing its result ,and its type.

t = (23,56,34,33,23,12,89,56)
print(t,type(t)),id(t)

(23, 56, 34, 33, 23, 12, 89, 56) <class 'tuple'>

(None, 2291688032320)

In [2]:
# Finding the value of tuple through its index .
# Let's know how:-

t[2]

34

In [3]:
# Chaning value in tuple .
# Let's see the value get changed or not.

t[2] = 56

# It always show an error because tuple can't get changed as it is immutable.

TypeError: 'tuple' object does not support item assignment

In [4]:
# Printing the tuple t:-

t

(23, 56, 34, 33, 23, 12, 89, 56)

In [5]:
# Finding it through the index value:-
# Through forward indexing 

t[3]

33

In [6]:
# Finding it through the index value:-
# Through backward indexing 

t[-6]

34

In [7]:
# Printing the list using loop:-
# Using the for loop.

for k in t:
    print(k)

23
56
34
33
23
12
89
56

In [8]:
# Printing the list using loop:-
# Using the for loop.
# Printing it in one single line using end =""

for k in t:
    print(k,end=" ^ ")

23 ^ 56 ^ 34 ^ 33 ^ 23 ^ 12 ^ 89 ^ 56 ^

In [18]:
# Printing the list using loop:-
# Using the while loop.

k=t
while k<=t:
    print(k)
    k+=t

(23, 56, 34, 33, 23, 12, 89, 56)

In [15]:
# Printing the list using loop:-
# Using the while loop.
# printing it in one single line using end=""

k=t
while k<=t:
    print(k,end=" * ")
    k+=t

(23, 56, 34, 33, 23, 12, 89, 56) *

In [20]:
# Printing the list using loop:-
# Using the for loop.
# with range ;-

for k in range(len(t)):
    print(t[k])

23
56
34
33
23
12
89
56

In [21]:
# Printing the list using loop:-
# Using the for loop.
# with range ;-
# printing the result in one single line using end=""

for k in range(len(t)):
    print(t[k],end=" * ")

23 * 56 * 34 * 33 * 23 * 12 * 89 * 56 *

In [23]:
#Printing the tuple :-
# using for loop:-
# to mutiply anything in the tuple 
# Let's know how:-

for k in t:
    print(k*2)

46
112
68
66
46
24
178
112

In [24]:
#Printing the tuple :-
# using for loop:-
# to mutiply anything in the tuple 
# Let's know how:-
# printing in one single line;-

for k in t:
    print(k*2,end=" ! ")

46 ! 112 ! 68 ! 66 ! 46 ! 24 ! 178 ! 112 !

In [40]:
#Printing the tuple :-
# using while loop:-
# to mutiply anything in the tuple 
# Let's know how:-

k=t
while k<=t:
    print(k[t*2])
    k=t*2

TypeError: tuple indices must be integers or slices, not tuple

In [27]:
# Finding which one is greater among them:-
# Taking two tuples as t1 and t2:-
# Taking greater amonmg them as t1> t2
# finding is the statemant is true or false:-

t1 = (23,54,56,46)
t2 = (12,43,56,77,45)
t1>t2

True

In [29]:
# Finding which one is greater among them:-
# Taking two tuples as t1 and t2:-
# Taking greater amonmg them as t1> t2
# finding is the statemant is true or false:-

t1 = ("a","b","z")
t2 = ("A","B","C")
t1<t2

False

In [30]:
# Printing the tuple:-

t

(23, 56, 34, 33, 23, 12, 89, 56)

In [31]:
# If you want to add any value in  the tuple then can we add like a list
# Let's see what happened next:-
# In list form

t = t+[3]

# It will show an error always

TypeError: can only concatenate tuple (not "list") to tuple

In [32]:
# If you want to add any value in  the tuple then can we add like a list
# Let's see what happened next:-
# In tuple form

t = t+(3)

# It will show an error always

TypeError: can only concatenate tuple (not "int") to tuple

In [33]:
# Printing the tuple:-

t

(23, 56, 34, 33, 23, 12, 89, 56)

In [34]:
# Printing the tuple id as id()

id(t)

2291629660688

In [35]:
# adding 2 in the tuple.
# Let's known is it add into the tuple or not

t1 = (2)
t2 = t+t1

# it will always show an error

TypeError: can only concatenate tuple (not "int") to tuple

In [42]:
# Printing a variable a :-

a = (2)
print(a,type(a))

2 <class 'int'>

In [44]:
# Printing a variable a :-
# But here if we put an (,) it will take it as mutiple values
# and automatically tale it as a tuple

a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [45]:
# Printing the tuple t:-

t

(23, 56, 34, 33, 23, 12, 89, 56)

In [46]:
# adding 2 in the tuple.
# Let's known is it add into the tuple or not

t+(2,)

# It will add 2 into the tuple but not in the original tuple

(23, 56, 34, 33, 23, 12, 89, 56, 2)

In [47]:
# Printing the tuple t :-

t

# Here 2 is not present in the original tuple

(23, 56, 34, 33, 23, 12, 89, 56)

In [48]:
# adding 2 in the tuple.
# Let's known is it add into the tuple or not

t = t+(2,)
t

# Here the 2 is added in the tuple

(23, 56, 34, 33, 23, 12, 89, 56, 2)

In [49]:
# Printing the tuple id()

id(t)

2291688085056

In [51]:
# Input a tuple 
# Print its result and type

t = input("Enter the value of Tuple: ")
print(t,type(t))

# Here it will always come in form of a string

Enter the value of Tuple: 23,45,67,34,87,98
23,45,67,34,87,98 <class 'str'>

In [52]:
# Input a tuple 
# Print its result and type
# Let's put the input into () brackets 

t = input("Enter the value of Tuple: ")
print(t,type(t))

# Here it will always come in form of a string

Enter the value of Tuple: (45,34,76,45,3,67,66)
(45,34,76,45,3,67,66) <class 'str'>

In [53]:
# Input a tuple 
# Converting the str into tuple
# Print its result and type

t = tuple(input("Enter the value of Tuple: "))
print(t,type(t))

# Here it will always come in form of a string

Enter the value of Tuple: (34,23,56,78,65,89)
('(', '3', '4', ',', '2', '3', ',', '5', '6', ',', '7', '8', ',', '6', '5', ',', '8', '9', ')') <class 'tuple'>

In [56]:
# Printing a variable a
# With it type

a = 4,5
print(a,type(a))

(4, 5) <class 'tuple'>

In [1]:
# Input a tuple 
# Converting the str into tuple
# To avoid the above result and print the result into tuple we use eval here
# Print its result and type

t = eval(input("Enter the value of Tuple: "))
print(t,type(t))

Enter the value of Tuple: 45,23,56,34,224,243,56
(45, 23, 56, 34, 224, 243, 56) <class 'tuple'>

# DAY-11

In [3]:
# Creating a new tuple as t:-
# print its result and its type:-
# Let's see how it happens:-

t = (45,23,43,12,32,45,67,86)
print(t,type(t))

(45, 23, 43, 12, 32, 45, 67, 86) <class 'tuple'>

In [4]:
# Printing it id :-

id(t)

2519200406032

In [5]:
# Slicing in Tuple:-
# We can do slicing in two forms :-
#  1) Forward Slicing 
#  2) Backward Slicing
# Forward slicing in tuple:-

t[0:6:2]

(45, 43, 32)

In [6]:
# Printing tuple:-

t

(45, 23, 43, 12, 32, 45, 67, 86)

In [8]:
# Backward slicing in tuple:-
# Let's see how:-

t[-2:-8:-2]

(67, 32, 43)

In [10]:
# If we want to reverse the tuple we can do this very easily:-
# But it also have some drawback that it will not reverse the original tuple:
# Let's know how:-

t[::-1]

(86, 67, 45, 32, 12, 43, 23, 45)

In [11]:
# If we print the tuple t agin than:-

t

# Here the tuple is not changed because tuple is immutable it can't changed

(45, 23, 43, 12, 32, 45, 67, 86)

In [12]:
# Printing id of t:-

id(t)

# Here the id of the tuple is not changed it remains the same

2519200406032

In [14]:
# Creating a new tuple t1:-
# with nested values in it:-
# Let's see what happens :-

t1 = (23,21,34,(55,43,87,89))

In [27]:
# Calling t1 values through imndexing:-
# printing the output:-

t1[2]

34

# Methods of Tuple:-

In [24]:
# Printing the tuple :-
# iNcluding its result and its type:-

t = (23,12,45,67,63,78)
print(t,type(t))

(23, 12, 45, 67, 63, 78) <class 'tuple'>

In [25]:
# Printing id of t:-

id(t)

2519259118176

In [26]:
# FInding len of the tuple t:-

len(t)

6

In [28]:
# Converting a string into a tuple:-
# Let's know how:-
# Firstly take a string put value in it.
# Then convert the string into the tuple.

a = "PARUL"
t2 = tuple(a)
t2

('P', 'A', 'R', 'U', 'L')

In [29]:
# printing t:-

t

(23, 12, 45, 67, 63, 78)

In [30]:
# Finding index through the value input in tuple:-

t.index(67)

3

In [31]:
# Finding index through the value input in tuple:-

t.index(78)

5

In [32]:
# CAn we add some values in tuple :-
# With the help of append method:-
# Let's see what happens:-

t.append(56)

# It will always show an error because tuple is immutable we can't add any value in this through the append method

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
# CAn we add some values in tuple :-
# With the help of extend method:-
# Let's see what happens:-

t.extend([34,56,23])

# It will always show an error because tuple is immutable we can't add any value in this through the extend method

AttributeError: 'tuple' object has no attribute 'extend'

In [34]:
# If we want to insert an value in the tuple:-
# Can we do soo :-
# Let's know:-

t.insert(34)

# No, it will not insert any value in it as tuple is immutable it doesn't insert any value in it

AttributeError: 'tuple' object has no attribute 'insert'

In [35]:
# Can we reverse the tuple:-
# Is it possible:-

t.reverse()

# No, we can't reverse the tuple through reverse method it is popssible but doesn't reverse the original tuple

AttributeError: 'tuple' object has no attribute 'reverse'

In [36]:
# Can we do count method in tulpe:-
# Is it works:-

t.count(67)

1

In [37]:
# If the value is not present in the tuple than it always returns 0 in place of an error

t.count(21)

0

In [39]:
# Can we do pop method in tuple:-
# Is it possible to pop an item from the tuple:-

t.pop()

# No, it's not possible as tuple is immutable it doesn't support pop method

AttributeError: 'tuple' object has no attribute 'pop'

In [40]:
# Can we remove an element from the tuple:-
# Is it works or not:-

t.remove(100)

# No, its not possible as tuple is immutable ,it is not possible to remove an elemnt from it

AttributeError: 'tuple' object has no attribute 'remove'

In [41]:
# Can we run clear method in tuple ?:-
# Let's see what happens next:-

t.clear()

# It will always show an error.

AttributeError: 'tuple' object has no attribute 'clear'

In [43]:
# Is it possible to do del slicing in tuple :-

del t[1:5:2]

# NO, it will not work in tuple

TypeError: 'tuple' object does not support item deletion

In [44]:
# But on the another hand we can delete the entire tuple from del:-
# Let's know how:-

del t

In [45]:
# Calling t to see whether the tuple is deleted or not:-

t

# Here through del the tuple is deleted

NameError: name 't' is not defined

In [46]:
# Creating the tuple :-
# iNcluding its result and its type:-

t = (23,12,45,67,63,78)
print(t,type(t))

(23, 12, 45, 67, 63, 78) <class 'tuple'>

In [47]:
# Printing the id of the tuple t:-

id(t)

2519259979904

In [48]:
# Can we sort the values in the tupple through sorting :-
# Is it possible to do soo:-

t.sort()

# Tuple doesn't support the sort method

AttributeError: 'tuple' object has no attribute 'sort'

In [49]:
# Is sorted method is possible or not:-

sorted(t)

# Yes, sorting is possible as it convert tuple into list here

[12, 23, 45, 63, 67, 78]

In [50]:
# reversing the tuple through the sorted method of tuple:-

sorted(t,reverse=True)

[78, 67, 63, 45, 23, 12]

In [51]:
# Finding max of t:-

max(t)

78

In [52]:
# Finding min of t:-

min(t)

12

In [53]:
# Finding sum of t:-

sum(t)

288

In [54]:
# pring t :-

t

(23, 12, 45, 67, 63, 78)

In [55]:
# Finding value from the index of the item:-
# Let's see is it works:-

t[4]

63

In [56]:
# Can we chsnge value of t[3] in the tuple:-
# is it possible to work;-

t[3] = "Sam"

# It will not work it will show an error.

TypeError: 'tuple' object does not support item assignment

In [57]:
# WE can do this in two ways :-
# 1) BY converting it into list and change it's value:-
# Let;s see how it is:-

l = list(t)
l

[23, 12, 45, 67, 63, 78]

In [58]:
# Now change the value in the list:-

l[4]="Parul"
l

[23, 12, 45, 67, 'Parul', 78]

In [59]:
# Now convert list into tuple:-

t = tuple(l)
t

(23, 12, 45, 67, 'Parul', 78)

In [62]:
# Finding it's id():-

id(t)

# Here the id of the tuple is changed.

2519258860032

In [ ]:
# 2) Using Packing and unpacking method here :-
# Packing :- converting list into tuple.
# Unpacking :- converting tuple into list

In [61]:
# Creatting an another tuple:-
# Print its result and its type:-

t = (73,56,98,776,445,35,2335)
print(t,type(t))

(73, 56, 98, 776, 445, 35, 2335) <class 'tuple'>

In [64]:
# Printing id of tuple t:-

id(t)

2519258860032

In [65]:
# Using unpacking:-
# Converting tuple into list:-
# Let's know how"-

a,b,c,d,e,f,g = t

In [66]:
# Calling any value to test the result:-

c

98

In [67]:
# Know changing the values :-

b = "Parul"
d = "Yadav"

In [68]:
# Doing packing here:-
# Converting list into tuple:-

t=(a,b,c,d,e,f,g)

In [70]:
# Testing the result:-

t

(73, 'Parul', 98, 'Yadav', 445, 35, 2335)

In [71]:
# checking the id of the tuple t:-

id(t)

# here the id of the tuple is changed

2519258785120