# SET

In [23]:
# Set is a collection of unordered pair of items or elements
# Set is mutuble but item in set is immutuble.
# Set is hetrogenous in nature.
# Creating a set s
# Set is unique
# It always represented in {} brackets
# Printing its value or its type

s = {34,12,76,34.6,34,12,56.3,"SAM",12,34,56+45j}
print(s,type(s)),id(s)

{34, 34.6, 56.3, 'SAM', (56+45j), 12, 76} <class 'set'>

(None, 2062712784928)

In [5]:
# Finding value in set:-

s[2]

# It will not support that function.
# Because it is unordered pair of colllection

TypeError: 'set' object is not subscriptable

In [6]:
# printing the result using loop:-
# printing using for loop:-

for k in s:
    print(k)

34
34.6
56.3
SAM
(56+45j)
12
76

In [7]:
# printing the result using loop:-
# printing using for loop:-
# Priting the result in one single line using end=""

for k in s:
    print(k,end=" * ")

34 * 34.6 * 56.3 * SAM * (56+45j) * 12 * 76 *

In [9]:
# printing the result using loop:-
# printing using for loop:-

for k in range(len(s)):
    print(k)

0
1
2
3
4
5
6

In [10]:
# printing the result using loop:-
# printing using for loop:-
# Here if we put s[k] it wills how an error as it will not work on it 

for k in range(len(s)):
    print(s[k])

TypeError: 'set' object is not subscriptable

In [15]:
# Comparision in set:-
# Is it worked or not:-
# Taking two sets s1 and s2:-
# comaring s1 to s2
# Printing the result

s1 = {34,21,65}
s2 = {12,33,12,}
s1<s2

False

In [16]:
# Printing s:-

s

{(56+45j), 12, 34, 34.6, 56.3, 76, 'SAM'}

In [17]:
# Trying to add 2 in the set :-
# Let's see is it work or not:-

s+{2}

# It will show an error due to unorderedn pair collection of the items

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [18]:
# Trying to repeat the set in set:-
# Is it work or not:-

s*2

# It will also show an error as it is unoredeed pair of items

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [19]:
# Printing set as s:-

s

{(56+45j), 12, 34, 34.6, 56.3, 76, 'SAM'}

In [20]:
# TRying to add items in set throuogh the help of append method.
# Most probably apppend method doesn't work without indexing

s.append(34)

# Here it will show an error as it will give no attribnute method in the set

AttributeError: 'set' object has no attribute 'append'

In [21]:
# We can do this with the help of add method:-
# But add ius only for one single item not for multiple:-

s.add(500)
s

{(56+45j), 12, 34, 34.6, 500, 56.3, 76, 'SAM'}

In [22]:
# Printing id of s:-

id(s)

# Here the id of s get changed.

2062683911808

In [26]:
# Firstly create a new set :-

s1 = {23,12,43,12}
s1

{12, 23, 43}

In [27]:
# We can also do this from the update method in set:-

s.update(s1)
s

{(56+45j), 12, 23, 34, 34.6, 43, 56.3, 76, 'SAM'}

In [28]:
# Printing id of s:-

id(s)

# Here the id of s is same it will not changed.

2062712784928

In [29]:
# Checking the another set s1:-

s1

# It was as same as earlier.

{12, 23, 43}

In [31]:
# TRying to print the set with the help of loop:-
# using for loop:-

for k in s:
    print(k)

34
34.6
43
12
76
SAM
23
56.3
(56+45j)

In [32]:
# TRying to print the set with the help of loop:-
# using for loop:-
# Printing the result in single line using end=""

for k in s:
    print(k,end=" ^ ")

34 ^ 34.6 ^ 43 ^ 12 ^ 76 ^ SAM ^ 23 ^ 56.3 ^ (56+45j) ^

In [33]:
# TRying to print the set with the help of loop:-
# using for loop:-

for k in s:
    print(k*2)

68
69.2
86
24
152
SAMSAM
46
112.6
(112+90j)

In [34]:
# Can we use pop method to pop the element from the set:-
# Let's see it:-

s.pop()

# It works when we don't mention any no it does it by default

34

In [35]:
# Can we use pop method to pop the element from the set:-
# Let's see it:-

s.pop(34)

# Because it is unordered pair of collection of items.

TypeError: set.pop() takes no arguments (1 given)

In [37]:
# Can we remove an element from set:-
# Let's check it:-

s.remove(34.6)

# Remove method  work in set.

In [38]:
# Checking the set :-

s

{(56+45j), 12, 23, 43, 56.3, 76, 'SAM'}

In [39]:
# printing id of s:-

id(s)

# Its remain the same.

2062712784928

In [40]:
# We can do this from another method disgard:-
# let's see how it works:L-

s.discard(23)

In [41]:
# Checking the output:-

s

{(56+45j), 12, 43, 56.3, 76, 'SAM'}

In [43]:
# Printing the id of s:-

id(s)

2062712784928

In [44]:
# Can we remove an element from set:-
# Let's check it:-

s.remove(34.6)

# Remove method  shows an error if we write that item that is not present in the list:-

KeyError: 34.6

In [45]:
# We can do this from another method disgard:-
# let's see how it works:L-

s.discard(23)

# Discard doesn't show an error on the output it just passed the statement.

In [46]:
# Printing s1:-

s1

{12, 23, 43}

In [47]:
# Finding max in set:-

max(s1)

43

In [48]:
# Finding min in set:-

min(s1)

12

In [49]:
# Finding the sum of set:-

sum(s1)

78

In [ ]:
# What if we want to clear the set :-
# Can we do