# Operators

In [ ]:
# Arithmetic Operators:-
# Comparision Operators:-
# Assignment Operators:-
# Logical Operators:-
# Membership Operators:-

In [12]:
# Arithmetic operators:-(through int)
# Addition:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add = a+b

print("The addition of two no",a,"and",b,"are: ",add)

Enter the value of a: 67
Enter the value of b: 45
The addition of two no 67 and 45 are:  112

In [3]:
# Subtraction :-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
sub = a-b

print("The subtraction of two no",a,"and",b,"are: ",sub)

Enter the value of a: 56
Enter the value of b: 45
The subtraction of two no 56 and 45 are:  11

In [4]:
# Multiplication:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
mul = a*b

print("The multiplication of two no",a,"and",b,"are: ",mul)

Enter the value of a: 56
Enter the value of b: 34
The multiplication of two no 56 and 34 are:  1904

In [5]:
# Division:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
div = a/b

print("The division of two no",a,"and",b,"are: ",div)

Enter the value of a: 67
Enter the value of b: 32
The division of two no 67 and 32 are:  2.09375

In [6]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
div = a/b

print("The division of two no",a,"and",b,"are: ",div)
# here we get always the result into float

Enter the value of a: 56
Enter the value of b: 56
The division of two no 56 and 56 are:  1.0

In [7]:
# FloorDivision:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
floordiv = a//b

print("The floordivision of two no",a,"and",b,"are: ",floordiv)

Enter the value of a: 67
Enter the value of b: 35
The floordivision of two no 67 and 35 are:  1

In [8]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
floordiv = a//b

print("The floordivision of two no",a,"and",b,"are: ",floordiv)

Enter the value of a: 76
Enter the value of b: 21
The floordivision of two no 76 and 21 are:  3

In [10]:
# Modulus:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
mod = a%b

print("The modulus of two no",a,"and",b,"are: ",mod)

Enter the value of a: 65
Enter the value of b: 23
The modulus of two no 65 and 23 are:  19

In [11]:
# Power:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
pow_ = a**b

print("The power of two no",a,"and",b,"are: ",pow_)

Enter the value of a: 67
Enter the value of b: 2
The power of two no 67 and 2 are:  4489

In [14]:
# Arithmetic opertors :- (through float)
# Addition:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
add = a+b

print("The addition of two no",a,"and",b,"are: ",add)

Enter the value of a: 54.98
Enter the value of b: 34.78
The addition of two no 54.98 and 34.78 are:  89.75999999999999

In [16]:
# Subtraction:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
sub = a-b

print("The subtraction of two no",a,"and",b,"are: ",sub)

Enter the value of a: 98.78
Enter the value of b: 56.87
The subtraction of two no 98.78 and 56.87 are:  41.910000000000004

In [17]:
# Multiplication:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
mul = a*b

print("The multiplication of two no",a,"and",b,"are: ",mul)

Enter the value of a: 56.78
Enter the value of b: 23.54
The multiplication of two no 56.78 and 23.54 are:  1336.6012

In [18]:
# Division:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
div = a/b

print("The division of two no",a,"and",b,"are: ",div)

Enter the value of a: 45.3
Enter the value of b: 23.6
The division of two no 45.3 and 23.6 are:  1.9194915254237286

In [19]:
# Floor Division:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
floordiv = a//b

print("The floordivision of two no",a,"and",b,"are: ",floordiv)

Enter the value of a: 45.87
Enter the value of b: 23.32
The floordivision of two no 45.87 and 23.32 are:  1.0

In [20]:
# Modulus;-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
mod = a%b

print("The modulus of two no",a,"and",b,"are: ",mod)

Enter the value of a: 34.23
Enter the value of b: 12.21
The modulus of two no 34.23 and 12.21 are:  9.809999999999995

In [21]:
# Power:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
pow_ = a**b

print("The power of two no",a,"and",b,"are: ",pow_)

Enter the value of a: 56.4
Enter the value of b: 2.2
The power of two no 56.4 and 2.2 are:  7125.47841401138

In [22]:
# Arithmetic operators :- (through eval)
# addition:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
add = a+b

print("The addition of two no",a,"and",b,"are: ",add)

Enter the value of a: 43
Enter the value of b: 23.98
The addition of two no 43 and 23.98 are:  66.98

In [28]:
# Subtraction:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
sub = a-b

print("The subtraction of two no",a,"and",b,"are: ",sub)

Enter the value of a: 34.45
Enter the value of b: 11
The subtraction of two no 34.45 and 11 are:  23.450000000000003

In [29]:
# Multiplication:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
mul = a*b

print("The multiplication of two no",a,"and",b,"are: ",mul)

Enter the value of a: 67.54
Enter the value of b: 34
The multiplication of two no 67.54 and 34 are:  2296.36

In [30]:
# Division:- 
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
div = a/b 

print("The division of two no",a,"and",b,"are: ",div)

Enter the value of a: 76
Enter the value of b: 34.2
The division of two no 76 and 34.2 are:  2.222222222222222

In [26]:
# Floor Division:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
floordiv = a//b

print("The floordivision of two no",a,"and",b,"are: ",floordiv)

In [31]:
# Modulus:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
mod = a%b

print("The modulus of two no",a,"and",b,"are: ",mod)

Enter the value of a: 56.4
Enter the value of b: 34
The modulus of two no 56.4 and 34 are:  22.4

In [32]:
# Power:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
pow_ = a**b

print("The power of two no",a,"and",b,"are: ",pow_)

Enter the value of a: 34
Enter the value of b: 2.2
The power of two no 34 and 2.2 are:  2340.2034620258687

In [38]:
# Comparision operators:-
# True :-(for greater than)
#int
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a>b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a>b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a>b
print(result,type(result))

Enter the value of a: 45
Enter the value of b: 34
True <class 'bool'>
Enter the value of a: 34.5
Enter the value of b: 23.5
True <class 'bool'>
Enter the value of a: 45
Enter the value of b: 23.5
True <class 'bool'>

In [39]:
# False:-
# Int:-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a>b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a>b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a>b
print(result,type(result))

Enter the value of a: 53
Enter the value of b: 97
False <class 'bool'>
Enter the value of a: 53.24
Enter the value of b: 87.34
False <class 'bool'>
Enter the value of a: 65.87
Enter the value of b: 98
False <class 'bool'>

In [41]:
# True (for lesser):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a<b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a<b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a<b
print(result,type(result))

Enter the value of a: 23
Enter the value of b: 45
True <class 'bool'>
Enter the value of a: 56.67
Enter the value of b: 89.67
True <class 'bool'>
Enter the value of a: 67.8
Enter the value of b: 90
True <class 'bool'>

In [45]:
# False (for lesser):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a<b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a<b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a<b
print(result,type(result))

Enter the value of a: 56
Enter the value of b: 23
False <class 'bool'>
Enter the value of a: 34.56
Enter the value of b: 12.56
False <class 'bool'>
Enter the value of a: 45
Enter the value of b: 11.9
False <class 'bool'>

In [48]:
# True (For gretaer than equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

Enter the value of a: 56
Enter the value of b: 56
True <class 'bool'>
Enter the value of a: 56.4
Enter the value of b: 34.6
True <class 'bool'>
Enter the value of a: 56.9
Enter the value of b: 45
True <class 'bool'>

In [49]:
# False (For gretaer than equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a>=b
print(result,type(result))

Enter the value of a: 65
Enter the value of b: 87
False <class 'bool'>
Enter the value of a: 87.0
Enter the value of b: 90.5
False <class 'bool'>
Enter the value of a: 87
Enter the value of b: 99.9
False <class 'bool'>

In [50]:
# True (For lesser than equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

Enter the value of a: 98
Enter the value of b: 98
True <class 'bool'>
Enter the value of a: 78.9
Enter the value of b: 78.9
True <class 'bool'>
Enter the value of a: 89
Enter the value of b: 98
True <class 'bool'>

In [52]:
# False (For lesser than equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a<=b
print(result,type(result))

Enter the value of a: 67
Enter the value of b: 65
False <class 'bool'>
Enter the value of a: 87.0
Enter the value of b: 78.6
False <class 'bool'>
Enter the value of a: 90
Enter the value of b: 76.8
False <class 'bool'>

In [53]:
# True (For equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a==b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a==b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a==b
print(result,type(result))

Enter the value of a: 87
Enter the value of b: 87
True <class 'bool'>
Enter the value of a: 98.9
Enter the value of b: 98.9
True <class 'bool'>
Enter the value of a: 56
Enter the value of b: 56.0
True <class 'bool'>

In [54]:
# False (For equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a==b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a==b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a==b
print(result,type(result))

Enter the value of a: 67
Enter the value of b: 56
False <class 'bool'>
Enter the value of a: 45.8
Enter the value of b: 67.8
False <class 'bool'>
Enter the value of a: 56
Enter the value of b: 78.9
False <class 'bool'>

In [55]:
# True (For not equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

Enter the value of a: 45
Enter the value of b: 56
True <class 'bool'>
Enter the value of a: 45.7
Enter the value of b: 56.7
True <class 'bool'>
Enter the value of a: 56
Enter the value of b: 35.4
True <class 'bool'>

In [57]:
# False (For not equal to):-
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

# Float:-
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

# Eval:-
a = eval(input("Enter the value of a: "))
b = eval(input("Enter the value of b: "))
result = a!=b
print(result,type(result))

Enter the value of a: 45
Enter the value of b: 45
False <class 'bool'>
Enter the value of a: 34.5
Enter the value of b: 34.5
False <class 'bool'>
Enter the value of a: 45.0
Enter the value of b: 45
False <class 'bool'>

In [58]:
# Assignment Operator (asiign values to the variables):-
a = 43 
print(a,type(a))

43 <class 'int'>

In [44]:
# Assignment Operators:-
# plus equal to:-
a = 45
b = 56
a = a+b
print(a)
print(b)

101
56

In [67]:
# asiignment Operators:-
# through int:-
a= 45
b = 40
a += b
print(a)
print(b)

# through float:-
a= 45.7
b = 40.4
a += b
print(a)
print(b)

# through eval:-
a= 45.5
b = 40
a += b
print(a)
print(b)

85
40
86.1
40.4
85.5
40

In [61]:
# subtraction operation:-
a = 95
b = 56
a = a-b
print(a)
print(b)

39
56

In [68]:
# subtraction operation:-
# through int:-
a = 95
b = 56
a -= b
print(a)
print(b)

# through float:-
a = 95.8
b = 56.4
a -= b
print(a)
print(b)
# through eval:-
a = 95
b = 56.4
a -= b
print(a)
print(b)

39
56
39.4
56.4
38.6
56.4

In [63]:
# Multiplication Operations:-
a = 65
b = 34
a = a*b
print(a)
print(b)

2210
34

In [69]:
# Multiplication Operations:-
# through int:-
a = 65
b = 34
a *= b
print(a)
print(b)

#through float:-
a = 65.3
b = 34.5
a *= b
print(a)
print(b)

# Through eval:-
a = 65.2
b = 34
a *= b
print(a)
print(b)

2210
34
2252.85
34.5
2216.8
34

In [65]:
# Division operation:-
a = 34
b = 12
a = a/b
print(a)
print(b)

2.8333333333333335
12

In [70]:
# Division operation:-
# through int:-
a = 34
b = 12
a /= b
print(a)
print(b)

# through float:-
a = 34.6
b = 12.4
a /= b
print(a)
print(b)

# through eval:-
a = 34.5
b = 12
a /= b
print(a)
print(b)

2.8333333333333335
12
2.7903225806451615
12.4
2.875
12

In [73]:
# FloorDivision operation:-

a = 48
b = 12
a = a//b
print(a)
print(b)

4
12

In [74]:
# FloorDivision operation:-
# through int:-
a = 48
b = 12
a //= b
print(a)
print(b)

# through float:-
a = 48.6
b = 12.4
a //= b
print(a)
print(b)

# through eval:-
a = 48.5
b = 12
a //= b
print(a)
print(b)

4
12
3.0
12.4
4.0
12

In [75]:
# Modulus operators:-
a = 68
b = 14
a = a%b
print(a)
print(b)

12
14

In [76]:
# Modulus operation:-
# through int:-
a = 68
b = 14
a %= b
print(a)
print(b)

# through float:-
a = 48.8
b = 14.4
a %= b
print(a)
print(b)

# through eval:-
a = 48.5
b = 14
a %= b
print(a)
print(b)

12
14
5.599999999999996
14.4
6.5
14

In [77]:
# Power operation:-
a = 11
b = 2
a = a**b
print(a)
print(b)

121
2

In [79]:
# Power operation:-
# through int:-
a = 11
b = 2
a **= b
print(a)
print(b)

# through float:-
a = 11.2
b = 2.2
a **= b
print(a)
print(b)

# through eval:-
a = 11.2
b = 2
a **= b
print(a)
print(b)

121
2
203.3666102878644
2.2
125.43999999999998
2

In [82]:
# Logical Operators:-
# Here "and " means it will only true when both conditions are true
# through int:-
a = 95
b = 45 
print(a>b and b<a)

# through float:-
a = 95.4
b = 45.2
print(a>b and b<a)
# through eval:-
a = 95.7
b = 45 
print(a>b and b<a)

True
True
True

In [83]:
# Logical Operators:-
# Here "and " means it will only true when both conditions are true
# through int:-
a = 95
b = 45 
print(a<b and b>a)

# through float:-
a = 95.4
b = 45.2
print(a<b and b>a)

# through eval:-
a = 95.7
b = 45 
print(a<b and b>a)

False
False
False

In [95]:
# here "or" means either on true or one false:-
# through int:-
a = 95
b = 45 
print(a<b or b<a)

# through float:-
a = 95.4
b = 45.2
print(a==b or b<a)

# through eval:-
a = 95.7
b = 45 
print(a<b or b<a)

a = 4
b = 7
print(a>b or b!=a)

True
True
True
True

In [87]:
# through int:-
a = 95
b = 45 
print(a<b or b==a)

# through float:-
a = 95.4
b = 45.2
print(a<b or b==a)

# through eval:-
a = 95.7
b = 45 
print(a<b or b>a)

False
False
False

In [94]:
# Here "not" menas reverse the result ( that is if its true than it will be false or vice-versa)
# through int:-
a = 125
b = 45
print(not(a>b) and b==a)

# through float:- 
a = 125.4
b = 45.2
print(a>b and not(b!=a))

# through eval:-
a = 7.0
b = 7
print(a>b or not(b!=a))

False
False
True

In [96]:
# Membership Operators:-
name = "Parul"
print("Parul" in name)

True

In [97]:
# Membership Operators:-
name = "Parul"
print("parul" in name)

False

In [98]:
# Membership Operators:-
name = "Parul Yadav"
print("parul" not in name)

True

In [99]:
# Membership Operators:-
name = "Parul Yadav"
print("Yadav" not in name)

False

In [101]:
# Logical operators:-
# using "and":-
a = 45
b = 78
print(a>b and b<a)

print(a<b and b>a)

print(a>b and b>a)

print(a<b and b<a)

print(a<=b and b<a)

print(a<b and b>=a)

print(a>b and b>=a)

print(a<=b and b<a)

print(a==b and a>=b)

print(a>=b and a==b)

print(a==b and a<=b)

print(a<=b and a==b)

print(a==b and a!=b)

print(a!=b and a>=b)

print(a!=b and a<=b)

print(b>=a and a!=b)

False
True
False
False
False
True
False
False
False
False
False
False
False
False
True
True

In [102]:
 # Logical Operators:-
    # Using "or":-
    
a = 45
b = 78
print(a>=b or b!=a)

print(a==b or b!=a)

print(a<=b or b!=a)

print(a<=b or b>=a)

print(a>b or b>a)

print(a<b or b==a)

print(a==b or b==a)

print(a>b or b!=a)

print(a>b or b<a)

print(a!=b or b!=a)

print(a!=b or b>=a)

print(a!=b or b<=a)

True
True
True
True
True
True
False
True
False
True
True
True

In [103]:
# Logical Operators:-
# Using "Not":-

a = 45
b = 78
print(not(a==b)and(b!=a))

print(not(a>=b)and(b==a))

print(not(a>=b)and(b<=a))

print((a>=b)and not(b==a))

print(not(a>b)and(b==a))

print((a>b)and not(b!=a))

print(not(a>b and b!=a))

print(not(a>b and b>=a))

print(not(a<b and b==a))

print(not(a<b and b!=a))

print(not(a<b and b<=a))

print(not(a<=b and b<=a))

print(not(a>b and b>=a))

print(not(a==b and b==a))

print(not(a!=b and b!=a))

print(not(a<b and a!=b))

True
False
False
False
False
False
True
True
True
False
True
True
True
True
False
False

# Day- 4

In [42]:
# Binary Ocurance:-
bin(17)

'0b10001'

In [44]:
# how to find binary
# we have to do the power of 2 in this like 2 pow 0
# here we have some powers of 2 like

#             ---   128   64   32   16   8   4   2   1

# for example we have to find the binary number of 17 so we will do this
#                   0     0    0    1   0    0   0   1
# and in this for binary we put b after writing one zero before the last one
# in this question we have one on the 16 so before 16 we write 0 in the before 1 and we write 0b
# so for 17 we have binary number is '0b10001'
# in binary we always 'sum' up the two numbers

In [45]:
# we have another example of this
# find binary of 16
#      128   64   32   16   8   4   2   1
# we have this format always to find the binary number of any given number
# here we have to find the binary number of 16
# so we have
#       0    0    0    1    0   0   0    0
# so our answer will be
# binary number of 16 is '0b10000'
# let's find with the syntax of code so we have

bin(16)

'0b10000'

In [ ]:
# we have another example of this
# find binary of 6
#      128   64   32   16   8   4   2   1
# we have this format always to find the binary number of any given number
# here we have to find the binary number of 16
# so we have
#       0    0    0    0    0   1   1    0
# so our answer will be
# binary number of 6 is '0b110'
# let's find with the syntax of code so we have

bin(6)

In [3]:
# Printing binary values through "And(&)"

print(bin(12&7),12&7)

0b100 4

In [4]:
# printing binary values through "Or(|)"

print(bin(12|7),12|7)

0b1111 15

In [5]:
# printing binary values through "Xor(^)"

print(bin(12^7),12^7)

0b1011 11

In [6]:
# we have two types of bitwise operators:-
# Left shift operator.
# Right shift operator.
# here we are using right shift bitwise operator to print values:-

print(12>>7,bin(12>>7))

0 0b0

In [7]:
# here we use left shift bitwise operators to print values:-

print(12<<7,bin(12<<7))

1536 0b11000000000

In [10]:
# "Not" or "reverse " operator we use it to reverse our answer :-
# if the answer is in negitive than it change to positive or vice -versa.

~(12)

-(12+1)
-(13)


~(-12)
-(-12+1)
11

11

In [11]:
~(12)

-13

In [12]:
~(-12)

11

In [13]:
# Identity Operators:-

a=45
print(a,type(a),id(a))

45 <class 'int'> 1939853084272

In [14]:
# printing identity of a variable:-
a=55
print(a,type(a),id(a))

55 <class 'int'> 1939853084592

In [15]:
# printing identity of b variable:-
b=45
print(b,type(b),id(b))

45 <class 'int'> 1939853084272

In [20]:
# Here we have two type of identity operators:-
# "is" operator
# "is not" operator
# working of is operator

a is b

True

In [22]:
# working of is not

a is not b

False

In [23]:
# Comparing two id's

id(a)==id(b)

True

In [24]:
# for integers only:-(Conditions)
 
=> Variable different
=> value same
=> limit<=256
=> id() same

SyntaxError: invalid syntax (4040372439.py, line 4)

In [25]:
# Checking the conditions for integers:-

a = 234
b = 234
a is b

True

In [26]:
a is not b

False

In [28]:
a = 456
b = 456
a is b

False

In [29]:
a is not b

True

In [33]:
# for string:-
# for string we have a condition that if we put a space between the lines than the result is false
# otherwise if we don't put space and make a continues line than the condition is true
name = "ParulYadav"
name1 = "ParulYadav"
name is name1

True

In [34]:
name is not name1

False

In [35]:
name = "Parul Yadav"
name1 = "Parul Yadav"
name is name1

False

In [36]:
name is not name1

True

In [37]:
# For float:-
# we have a condition for floats that if we put everything same in one line than the identity is same otherwise it was different because pyhton read the code line by line

a,b,c = 2.4,"Parul",2.4
a is b

False

In [38]:
b is c

False

In [39]:
a is c

True

In [41]:
a = 7.9
b = "Parul"
c = 7.9
a is c

False