# PATTERNS:-

# A to Z:-

In [12]:
# Creating alphabet "A" from Pattern:-
# Let's see how it works:-

for row in range(6):
    for col in range(6):
        if ((col==0 or col==5) and row!=0) or ((row==0 or row==3) and (col>0 and col<5)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ****
*    *
*    *
******
*    *
*    *

In [3]:
# Creating alphabet "B" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if ((col==0 or col==6) and (row!=0 and row!=6)) or ((row==0 or row==3 or row==6) and (col!=6) and (col>0 or col<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

******
*     *
*     *
*******
*     *
*     *
******

In [16]:
# Creating alphabet "C" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if ((row==0 or row==6) and col!=0) or (col==0 and (row>0 and row<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ******
*
*
*
*
*
 ******

In [32]:
# Creating alphabet "D" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if ((col==0 or col==6) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col!=6) and (col>0 or col<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

******
*     *
*     *
*     *
*     *
*     *
******

In [36]:
# Creating alphabet "E" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(6):
        if (col==0) or ((row==0 or row==3 or row==6) and (col>0 and col<5)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*****
*
*
*****
*
*
*****

In [170]:
# Creating alphabet "F" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(6):
        if (col==0) or ((row==0 or row==3) and (col>0 and col<5)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*****
*
*
*****
*
*
*

In [180]:
# Creating alphabet "G" from Pattern:-
# Let's see how it works:-

for row in range(9):
    for col in range(8):
        if (col==0 and row>0 and row<8) or (row==0 and col>0 and col<7) or (row==8 and col>0 and col<7) or(col==7 and row>3 and row<8) or (row==4 and col>2):
            print("*",end="")
        else:
            print(end=" ")
            
    print()
    
    
for row in range(9):
    for col in range(8):
        if (col==0 and row>0 and row<8) or (row==0 and col>0 and col<7) or (row==8 and col>0 and col<4) or(col==7 and row>3) or (row==4 and col>3) or (col==3 and row>3):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ******
*
*
*
*  *****
*      *
*      *
*      *
 ******
 ******
*
*
*
*  *****
*  *   *
*  *   *
*  *   *
 ***   *

In [91]:
# Creating alphabet "H" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(6):
        if ((col==0 or col==5) or ((row==3) and (col>0 and col<5))):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*    *
*    *
*    *
******
*    *
*    *
*    *

In [43]:
# Creating alphabet "I" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==3) or ((row==0 or row==6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*******
   *
   *
   *
   *
   *
*******

In [301]:
# Creating alphabet "J" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(4):
        if (col==2 and row>0 and row<6) or (row==0) or (row==6 and col==1) or (row==5 and col==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
  *
  *
  *
  *
* *
 *

In [60]:
# Creating alphabet "K" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if (col==0) or (col==1 and row==3) or (col==2 and row==2) or (col==2 and row==4) or (col==3 and row==1) or (col==3 and row==5) or (col==4 and row==0) or (col==4 and row==6):
            print("*",end=" ")
        else:
            print(end=" ")
            
    print()

*    *
*   *
*  *
* *
*  *
*   *
*    *

In [64]:
# Creating alphabet "L" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(9):
        if (col==0) or ((row==6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*
*
*
*
*
*
*********

In [92]:
# Creating alphabet "M" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 or col==6) or (col==1 and row==1) or (col==2 and row==2) or (col==3 and row==3) or (col==4 and row==2) or (col==5 and row==1):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [95]:
# Creating alphabet "N" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 or col==6) or (col==1 and row==1) or (col==2 and row==2) or (col==3 and row==3) or (col==4 and row==4) or (col==5 and row==5):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

In [23]:
# Creating alphabet "O" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if ((col==0 or col==6) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [157]:
# Creating alphabet "P" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 and col<4) or (row==3 and col<4) or (col==4 and row>0 and row<3):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*

In [169]:
# Creating alphabet "Q" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if (col==0 and row>0 and row<6) or (col==4 and row>0) or (row==0 and col>0 and col<4) or (row==6 and col>0 and col<3) or (col==2 and row==4) or (col==3 and row==5):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ***
*   *
*   *
*   *
* * *
*  **
 ** *

In [158]:
# Creating alphabet "R" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 and col<4) or (row==3 and col<4 and col>0) or (col==4 and row>0 and row<3) or (row==4 and col==2) or (row==5 and col==3) or (row==6 and col==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
* *
*  *
*   *

In [161]:
# Creating alphabet "S" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if ((row==0 and col>0) or ((row==3) and (col<4 and col>0)) or (row==6 and col<4) or ((col==0) and (row<3 and row>0)) or ((col==4) and (row<6 and row>3))):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ****
*
*
 ***
    *
    *
****

In [120]:
# Creating alphabet "T" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==6) or ((row==0)):
            print("*",end=" ")
        else:
            print(end=" ")
            
    print()

* * * * * * *
      *
      *
      *
      *
      *
      *

In [126]:
# Creating alphabet "U" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if ((col==0 or col==6) and (row!=0 and row!=6)) or ((row==6) and (col>0 and col<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
*     *
*     *
*     *
*     *
 *****

In [130]:
# Creating alphabet "V" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(5):
        if (col==0 and row<5) or (col==4 and row<5) or (col==2 and row==6) or (col==1 and row==5) or (col==3 and row==5):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*   *
*   *
*   *
*   *
*   *
 * *
  *

In [136]:
# Creating alphabet "W" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 or col==6) or (col==1 and row==5) or (col==2 and row==4) or (col==3 and row==3) or (col==4 and row==4) or (col==5 and row==5):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
*     *
*     *
*  *  *
* * * *
**   **
*     *

In [142]:
# Creating alphabet "X" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 and row==0) or (col==1 and row==1) or (col==2 and row==2) or (col==3 and row==3) or (col==4 and row==2) or (col==5 and row==1) or (col==6 and row==0) or (col==2 and row==4) or (col==1 and row==5) or (col==0 and row==6) or (col==4 and row==4) or (col==5 and row==5) or (col==6 and row==6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [156]:
# Creating alphabet "Y" from Pattern:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 and row==0) or (col==1 and row==1) or (col==2 and row==2) or (col==3 and row==3) or (col==4 and row==2) or (col==5 and row==1) or (col==6 and row==0) or (col==3 and row==4) or (col==3 and row==5) or (col==3 and row==6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
 *   *
  * *
   *
   *
   *
   *

In [154]:
# Creating alphabet "Z" from Pattern:-
# Let's see how it works:-

for row in range(9):
    for col in range(9):
        if (row==0 or row==8) or (col==1 and row==7) or (col==2 and row==6) or (col==3 and row==5) or (col==4 and row==4) or (col==5 and row==3) or (col==6 and row==2) or (col==7 and row==1):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*********
       *
      *
     *
    *
   *
  *
 *
*********

# 0 to 9:-

In [197]:
# Creating the counting of "0" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (col==0 or col==6) or ((row==0 or row==6) and (col>0 and col<6)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*******
*     *
*     *
*     *
*     *
*     *
*******

In [198]:
# Creating the counting of "1" from the mathematics:-
# Let's see how it works:-

for row in range(8):
    for col in range(7):
        if (row==7) or (col==0 and row==4) or (col==1 and row==3) or (col==2 and row==2) or (col==3 and row==1) or (col==4):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

    *
   **
  * *
 *  *
*   *
    *
    *
*******

In [219]:
# Creating the counting of "2" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0 or row==6) or (col==6 and row<3) or (row==3) or (col==0 and row>3):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*******
      *
      *
*******
*
*
*******

In [231]:
# Creating the counting of "3" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0 and col<6) or (row==6 and col<6) or (col==6 and row>0 and row<3) or (col==6 and row>3 and row<6) or (row==3 and col<6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

******
      *
      *
******
      *
      *
******

In [236]:
# Creating the counting of "4" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==3) or (col==6) or (col==0 and row<3):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
*     *
*     *
*******
      *
      *
      *

In [245]:
# Creating the counting of "5" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0) or (row==6 and col<6) or (col==0 and row<3) or (row==3 and col<6) or (col==6 and row>3 and row<6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*******
*
*
******
      *
      *
******

In [294]:
# Creating the counting of "6" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0 and col>0 and col<6) or (row==6 and col>0 and col<6) or (col==0 and row>0 and row<3) or (row==3 and col>0 and col<6) or (col==6 and row>3 and row<6) or ( col==0 and row>3 and row<6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 *****
*
*
 *****
*     *
*     *
 *****

In [295]:
# Creating the counting of "7" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0) or (col==5 and row==1) or (col==4 and row==2) or (col==3 and row==3) or (col==2 and row==4) or (col==1 and row==5):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*******
     *
    *
   *
  *
 *

In [297]:
# Creating the counting of "8" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0 and col>0 and col<6) or (row==6 and col>0 and col<6) or (col==0 and row>0 and row<3) or (row==3 and col>0 and col<6) or (col==6 and row>3 and row<6) or ( col==0 and row>3 and row<6) or ( col==6 and row>0 and row<3):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 *****
*     *
*     *
 *****
*     *
*     *
 *****

In [300]:
# Creating the counting of "8" from the mathematics:-
# Let's see how it works:-

for row in range(7):
    for col in range(7):
        if (row==0 and col>0 and col<6) or (row==6 and col>0 and col<6) or (col==0 and row>0 and row<3) or (row==3 and col>0 and col<6) or (col==6 and row>0 and row<6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 *****
*     *
*     *
 ******
      *
      *
 *****

In [ ]:
# Creating a star pattern from "[*]":-
# let's see how it becomes:-

for row in range(10):
    for col in rangde(10):
        if (row==0 and row==9) or (row==1 and row==8)